
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fontsaps/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/OpenSans-Bold.ttf")  format("truetype");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fontsaps/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/Raleway-Bold.ttf")  format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fontsaps/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/Montserrat-Regular.ttf")  format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fontsaps/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/Montserrat-Bold.ttf")  format("truetype");
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fontsaps/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/OpenSans-SemiBold.ttf")  format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
	src:   url("../fontsaps/Montserrat-ExtraBold.ttf")  format("truetype");
}
@font-face {
  font-family: "Raleway-Medium";
	src:   url("../fontsaps/Raleway-Medium.ttf")  format("truetype");
}
@font-face {
  font-family: "MontserratAlternates-Italic";
  src: url("../fontsaps/MontserratAlternates-Italic.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/MontserratAlternates-Italic.ttf")  format("truetype");
}
@font-face {
  font-family: "MontserratAlternates-Regular";
  src: url("../fontsaps/MontserratAlternates-Regular.ttf")  format("truetype");
}
@font-face {
  font-family: "MontserratAlternates-SemiBold";
  src: url("../fontsaps/MontserratAlternates-SemiBold.ttf")  format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fontsaps/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/OpenSans-Regular.ttf")  format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fontsaps/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/OpenSans-Regular.ttf")  format("truetype");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fontsaps/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/OpenSans-Light.ttf")  format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fontsaps/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/Roboto-Bold.ttf")  format("truetype");
}
@font-face {
  font-family: "MrDafoe-Regular";
  src: url("../fontsaps/MrDafoe-Regular.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/MrDafoe-Regular.ttf")  format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fontsaps/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/Roboto-Regular.ttf")  format("truetype");
}




@font-face {
  font-family: "Philosopher-Bold";
  src: url("../fontsaps/Philosopher-Bold.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/Philosopher-Bold.ttf")  format("truetype");
}
@font-face {
  font-family: "Muli-Bold";
  src: url("../fontsaps/Muli-Bold.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/Muli-Bold.ttf")  format("truetype");
}
@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../fontsaps/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/Ubuntu-Bold.ttf")  format("truetype");
}
@font-face {
  font-family: "Muli-Regular";
  src: url("../fontsaps/Muli-Regular.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/Muli-Regular.ttf")  format("truetype");
}
@font-face {
  font-family: "Quicksand-Bold";
  src: url("../fontsaps/Quicksand-Bold.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/Quicksand-Bold.ttf")  format("truetype");
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("../fontsaps/Quicksand-Regular.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/Quicksand-Regular.ttf")  format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fontsaps/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/Poppins-Bold.ttf")  format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fontsaps/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
	   url("../fontsaps/Poppins-Regular.ttf")  format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src: url("../fontsaps/Helvetica.ttf")  format("truetype");
}
@font-face {
  font-family: "HurmeGeometricSans1";
  src: url("../fontsaps/HurmeGeometricSansNo.1/HurmeGeometricSans1.otf")  format("opentype");
}
